<div>
    <h2 class="display-4 text-center m-3">Pokémons</h2>
  </div>
  <hr>
  
  <div class="container">
  <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" [routerLink]="['/ListaPokemon']">Previous</a></li>
          </ul>
  </nav>
  </div>
  
  
  <div class="container cajaInfo">
    <div class="row">
  
  
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="captionName">Pikachu</h2> 
      </div>
  
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="captionName">ID 025</h2> 
      </div>
  
      <div class="col-sm-12 col-md-4 col-lg-5">
             <img src="../../assets/img/025.png" class="imgInfo" alt="imagen">   <!--  {{pokemon[0].imagen}}   -->
      </div>
  
      <div class="col-sm-12 col-md-8 col-lg-7">
        <p class="captionInfo">Cada vez que un Pikachu se encuentra con algo nuevo, le lanza una descarga eléctrica. Cuando se ve alguna baya chamuscada, es muy probable que sea obra de un Pikachu, ya que a veces no controlan la intensidad de la descarga.</p>   
      </div>
  
    </div>
  </div>
  
  <br>
  <br>
  <br>