<div>
    <h2 class="display-4 text-center m-3">Pokémons</h2>
  </div>
  <hr>
  
  <div class="container">
  <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" [routerLink]="['/ListaPokemon']">Previous</a></li>
          </ul>
  </nav>
  </div>
  
  
  <div class="container cajaInfo">
    <div class="row">
  
  
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="captionName">Bulbasour</h2> 
      </div>
  
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="captionName">ID 001</h2> 
      </div>
  
      <div class="col-sm-12 col-md-4 col-lg-5">
             <img src="../../assets/img/001.png" class="imgInfo" alt="imagen">   <!--  {{pokemon[0].imagen}}   -->
      </div>
  
      <div class="col-sm-12 col-md-8 col-lg-7">
        <p class="captionInfo">A Bulbasaur es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo cada vez más a medida que absorbe los rayos del sol.</p>   
      </div>
  
    </div>
  </div>
  
  <br>
  <br>
  <br>