<div class="container my-5">
    <div class="jumbotron">
      <h1 class="display-4 px-4">Bienvenido</h1>
      <hr>
  
      <div class="container">
  
  
        <p>Guia de viaje para registrar las fichas de todas las diversas especies Pokémon con las que se encuentran
          durante su viaje como entrenadores.</p>
  
      </div>
  
      <p class="px-4">
        <a class="btn btn-primary btn-lg" [routerLink]="['/ListaPokemon']" role="button">Ver Pokemons</a>
      </p>
    </div>
  </div>
  